.header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: space-between;
  color: var(--blue);
  margin: 1rem;
}

.header .logo,
.footer .logo {
  height: 28px;
}

.footer {
  display: grid;
  align-items: center;
  background-color: var(--blue);
  height: 7rem;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 1rem;
  color: #ffffff;
  width: 100%;
}
